{% extends 'base.html' %}

{% block pageTitle %}
- Games List
{% endblock %}

{% block pageName %}games{% endblock %}

{% block content %}
    <h1>Games List</h1>
    <p>
        Here is a list of the games currently available:
    </p>
    <ul>
        <li>Would you rather?</li>
        <li>Evolution</li>
        <li>Swipe</li>
        <li>Ticket to ride Europe</li>
        <li>Pandemic</li>
        <li>Pandemic in the lab</li>
        <li>Pandemic on the brink</li>
        <li>Inventor</li>
        <li>Exploding kittens NSFW</li>
        <li>Eco fluxx</li>
        <li>Cards VS dice</li>
        <li>Eleminis</li>
        <li>Batman fluxx</li>
        <li>Nature fluxx</li>
        <li>Fluxx</li>
        <li>Smart ass</li>
        <li>Oregon trail</li>
        <li>Skip Bo</li>
        <li>Relic runners</li>
        <li>Skippity</li>
        <li>Ticket to ride</li>
        <li>Settlers of Catan</li>
        <li>Camelot the build</li>
        <li>Tenzi</li>
        <li>Robot turtles</li>
        <li>Mice and mystics</li>
        <li>Dino hunt</li>
        <li>Zombie Dice</li>
        <li>Holiday fluxx</li>
        <li>Pirate fluxx</li>
        <li>Catan Dice</li>
        <li>Hocus</li>
        <li>Firefly fluxx</li>
        <li>Uno Dice</li>
        <li>Smash up</li>
        <li>Scattegories</li>
        <li>Guesstures</li>
        <li>Password</li>
        <li>Knightmare chess</li>
        <li>Monarch</li>
        <li>Dixit</li>
        <li>Ocean labyrinth</li>
        <li>Clue BBT</li>
        <li>Risk</li>
        <li>Labyrinth</li>
        <li>Masquerade w/expansion</li>
        <li>Concept</li>
        <li>Sheriff of Nottingham</li>
        <li>Bang</li>
        <li>Star realms</li>
        <li>Millebornes</li>
    </ul>
{% endblock %}